/*General*/
body {
  background-color: rgb(230, 230, 230);
  font-family: "Montserrat", sans-serif;
}

#search-box {
  width: 400px;
  height: 300px;
  border: 1px solid rgb(207, 207, 207);
  border-bottom: 2px solid rgb(207, 207, 207);
  margin: 0 auto;
  background-color: white;
}

/*Search box*/

/*Search Header*/
#search-header {
  padding-left: 25px;
  margin-top: 0px;
  border-bottom: 1px solid rgb(207, 207, 207);
  background-image: url(/Images/banner.jpg);
  background-position: left 20%;
  background-size: 220%;
  color: rgb(80, 85, 95);
}

#search-header h2 {
  font-size: 14px;
  font-weight: 600;
  margin: 0 0;
  padding-top: 20px;
}

#search-header p {
  font-size: 10px;
  margin-top: 10px;
}

/*Search Inputs*/

#search-inputs {
  margin: 20px 25px;
}

#search-inputs p {
  font-size: 9px;
  color: rgb(96, 113, 150);
  font-weight: 500;
  margin-bottom: 0px;
}

#search-inputs input[type="text"] {
  border-radius: 0;
  box-sizing: border-box;
  height: 20px;
  border: 0.5px solid rgb(207, 207, 207);
  width: 100%;
}

#city-state-div {
  display: flex;
}

#city-state-div div:last-child {
  margin-left: auto;
}

#city-state-div select {
  width: 160px;

  height: 20px;
  border-radius: 0;
}

#line {
  margin: 20px 0;
  width: 80x;
  border-bottom: 1px solid rgb(207, 207, 207);
}

#auto-detect {
  display: flex;
}

#auto-detect p {
  margin: 0;
  font-size: 11px;
  font-weight: 500;
}

#auto-detect input {
  margin: auto 5px;
}

#buttons {
  display: flex;
}

#buttons button {
  margin-top: 20px;
  margin-right: 2px;
  width: 20%;
  height: 30px;
  font-weight: 100;
  font-size: 10px;
  border-right: 0;
  border-left: 0;
  border-top: 0;

  color: white;
}

#submit-button {
  background-color: rgb(85, 110, 168);
  border-bottom: 3px solid rgb(56, 73, 116);
}

#clear-button {
  background-color: rgb(243 185 64);
  border-bottom: 3px solid rgb(237, 138, 51);
}

/*Todays card*/

#todays-card {
  font-family: "Open Sans";
  background-color: white;
  margin: 30px auto;
  border: 1px solid rgb(207, 207, 207);
  border-bottom: 2px solid rgb(207, 207, 207);
  width: 550px;
  height: 300px;
  color: rgb(135, 135, 135);
}

#todays-card h1 {
  font-weight: 400;
  margin-left: 15px;
  margin-top: 8px;
  font-size: 18px;
}

#today-main {
  display: flex;
}

#todays-weather-symbole {
  width: 100px;
  height: 100x;
  margin-left: 20px;
}

#todays-temp {
  font-weight: 400;
  font-size: 80px;
  width: 20px;
  margin: 0 auto;
  letter-spacing: 0;
  display: flex;
}

#todays-temp span {
  font-size: 50px;
  padding-top: 10px;
  margin-left: 0px;
}

#todays-weather-text {
  margin-left: 20px;
  width: 100px;
  text-align: center;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

#todays-details {
  display: flex;
  margin: 20px auto;
  margin-bottom: 0;
  text-align: center;
}

#todays-details div {
  margin: 0 auto;
}

#todays-details p {
  font-size: 12px;
  font-weight: 500;
  margin: 12px auto;
  margin-top: 8px;
}

#todays-details img {
  color: rgb(64, 64, 64);
  width: 24px;
  max-height: 24px;
  margin: 0 auto;
  filter: opacity(80%);
}

/*week table*/

#week-table {
  width: 800px;

  min-height: 200px;
  margin: 0 auto;
}

#table-header {
  background-color: rgb(85, 110, 168);
  width: 100%;
  height: 30px;
  display: flex;
  text-align: center;
}

#table-header p {
  margin: auto auto;
  font-size: 10px;
  font-weight: 500;
  width: 16%;
}

#table-header p:first-child {
  width: 36%;
}

.table-row {
  margin: 10px 0;
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  font-size: 9px;
  font-weight: 500;
  text-align: center;

  color: rgb(58, 58, 58);
}

.table-row p {
  margin: auto;
  width: 16%;
}

.table-row div {
  display: flex;
  margin: 0;
  width: 16%;
}

.table-row div img {
  margin-right: 0;
}

.table-row div p {
  margin-left: 15px;
  margin-right: 0;
  white-space: nowrap;
}

.table-row :first-child {
  width: 36%;
}

.hidden {
  display: none;
}
